.hidden {
    display: none
}

.nutriTable {
    border: 1px solid black;
}

.nutriHeader {
    font-weight: bolder;
}

#qContainer {
    border: 4px solid #4E342E;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

#image-container {
    width: 100%;
}

img {
    width: 80%;
    height: 40%;
}

#linkColumn {
    margin-top: 20px;
}

#nutrition-info {
    margin-bottom: 20px;
    padding-right: 20px;
}

table {
    width: 100%;
}

