.fancy {
    font-family: "Lucida Handwriting";
    font-size: 30px;
}
.hidden {
    display: none;
}
.change {
    color: whitesmoke;
}
.table {
    box-sizing: border-box;
    border: solid black 3px;
    width: 60%;
}
.flex {
    align-items: left;
}
.tacos {
    color: black;
}
.west {
    float: right;
}

